<link rel="import" href="../utility/activity-link-mixin.html">
<link rel="import" href="d2l-completion-status.html">
<link rel="import" href="d2l-completion-requirement.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">

<dom-module id="d2l-activity-link">
	<template>
		<style>
			:host {
				display: block;
				color: var(--d2l-color-ferrite);
				padding: 10px 15px 10px 15px;
			}

			#activityLink {
				display: table;
				table-layout: fixed;
				width: 100%;
			}

			#activityTitle {
				overflow: hidden;
				text-overflow: ellipsis;
				float: left;
				display: table-cell;
				width: 100%;

				/* Compact Body Text - Lato Regular 16 */
				font-size: 16px;
				line-height: 24px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
			}

			#activityTitle.exempt, #activityTitle.optional {
				white-space: nowrap;
			}

			#activityTitle.required {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2; /* number of lines to show */
				line-height: 24px; /* fallback */
				max-height: 48px; /* fallback */
			}

			d2l-completion-requirement {
				float: left;
				display: table-cell;
				width: 87%;
				line-height: 24px;
			}

			d2l-completion-status {
				text-align: right;
				display: table-cell;
				width: 13%;
				vertical-align: middle;
				line-height: 24px;
			}

		</style>
		<div id="activityLink" class$="[[_getActivityLinkClass(currentActivity, entity)]]">
			<a id="activityTitle" on-click="setCurrent">
				[[entity.properties.title]]
			</a>
			<template is="dom-if" if="[[showCompletionRequirement]]">
				<d2l-completion-requirement
					href="[[href]]"
					token="[[token]]">
				</d2l-completion-requirement>
			</template>
			<d2l-completion-status
				href="[[href]]"
				token="[[token]]"
				class$=[[completionRequirement]]>
			</d2l-completion-status>
		</div>
		</template>

	</template>
	<script>
		/*
		@memberOf window.D2L.Polymer.Mixins;
		@mixes D2L.Polymer.Mixins.ActivityLinkMixin
		*/
		class D2LActivityLink extends D2L.Polymer.Mixins.ActivityLinkMixin() {
			static get is() {
				return 'd2l-activity-link';
			}
			static get properties() {
				return {
					completionRequirement: {
						type: String,
						computed: '_getCompletionRequirement(entity)',
						observer: '_showCompletionRequirement'
					},
					showCompletionRequirement: {
						type: Boolean,
						value: false
					}
				};
			}

			_getActivityLinkClass(currentActivity, entity) {
				return entity && entity.getLinkByRel('self').href === currentActivity
					? 'current'
					: '';
			}

			_showCompletionRequirement( exemption ) {
				switch ( exemption ) {
					case 'exempt':
					case 'optional':
						this.showCompletionRequirement = true;
						break;
				}
			}
		}
		customElements.define(D2LActivityLink.is, D2LActivityLink);
	</script>
</dom-module>
