<link rel="import" href="d2l-progress-bar.html">
<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="../../d2l-offscreen/d2l-offscreen.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-typography/d2l-typography.html">

<!--
'd2l-lesson-header'


@demo demo/index.html
-->

<dom-module id="d2l-lesson-header">
	<template>
		<style>
		:host {
			display: table;
			table-layout: fixed;
		}

		:host(:focus) {
			outline: none;
		}

		/* Container styling */

		#D2LLessonHeaderContainer {
			position: relative;
			width: inherit;
			height: inherit;
			padding: 20px 35px 15px 20px;
			border-radius: 8px 0px 0px 8px;
		}

		#D2LLessonHeaderContainer:hover.dark,
		#D2LLessonHeaderContainer.selected.dark {
			background-color: var(--primary-color);
			border: none;
		}

		#D2LLessonHeaderContainer:hover.light,
		#D2LLessonHeaderContainer.selected.light {
			background-color: var(--primary-color);
			border: 1px solid rgba(23,53,100,0.3);
			border-right: none;
		}

		/* Overlay styling */

		.d2l-lesson-header-overlay {
			position: absolute;
			margin-left: -20px;
			margin-top: -20px;
			width: 100%;
			height: 100%;
			background-color: white; 
			opacity: 0;
			z-index: 1;
		}

		#D2LLessonHeaderContainer:hover:not(.selected).dark .d2l-lesson-header-overlay {
			opacity: 0.82;
		}

		#D2LLessonHeaderContainer:hover:not(.selected).light .d2l-lesson-header-overlay {
			opacity: 0.6;
		}

		/* Title styling */

		.d2l-lesson-header-title {
			@apply --d2l-heading-3;

			color: var(--d2l-color-ferrite);
			overflow: hidden;
			text-overflow: ellipsis;
			
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2; /* number of lines to show */
			max-height: 3rem; /* fallback */

			margin-top: 0px;
			margin-bottom: 0px;

			position: relative;
			z-index: 2;
		}

		#D2LLessonHeaderContainer:hover:not(.selected) .d2l-lesson-header-title,
		#D2LLessonHeaderContainer.selected.light .d2l-lesson-header-title {
			color: var(--d2l-color-ferrite);
		}

		#D2LLessonHeaderContainer.selected.dark .d2l-lesson-header-title {
			color: white;
		}

		/* Progress bar styling */

		d2l-progress-bar {
			position: relative;
			z-index: 2;
			--progress-bar-background-color: var(--d2l-color-mica);
			--progress-bar-foreground-color: var(--accent-color);
			--progress-bar-border-color: white;
		}

		#D2LLessonHeaderContainer:hover:not(.selected) d2l-progress-bar {
			--progress-bar-background-color: none;
			--progress-bar-foreground-color: var(--d2l-color-ferrite);
			--progress-bar-border-color: var(--d2l-color-ferrite);
		}

		#D2LLessonHeaderContainer.selected.dark d2l-progress-bar {
			--progress-bar-background-color: none;
			--progress-bar-foreground-color: white;
			--progress-bar-border-color: white;
		}

		#D2LLessonHeaderContainer.selected.light d2l-progress-bar {
			--progress-bar-background-color: none;
			--progress-bar-foreground-color: var(--d2l-color-ferrite);
			--progress-bar-border-color: var(--d2l-color-ferrite);
		}
		
		/* Completion count styling */

		.d2l-lesson-header-completion-count {
			@apply --d2l-body-small-text;

			text-align: right;
			padding-top: 10px;
			padding-right: 3px;

			position: relative;
			z-index: 2;
		}

		#D2LLessonHeaderContainer:hover:not(.selected) .d2l-lesson-header-completion-count,
		#D2LLessonHeaderContainer.selected.light .d2l-lesson-header-completion-count {
			color: var(--d2l-color-ferrite);
		}

		#D2LLessonHeaderContainer.selected.dark .d2l-lesson-header-completion-count {
			color: white;
		}

		</style>

		<div
			id="D2LLessonHeaderContainer"
			on-click="onClick"
		>
			<div class="d2l-lesson-header-overlay"></div>
			<span class="d2l-lesson-header-title">[[entity.properties.title]]</span>
			<d2l-progress-bar
				percent-completed$="[[percentCompleted]]"
				aria-hidden="true"
				background-color$="{{progressBarBackgroundColor}}"
				foreground-color$="{{progressBarForegroundColor}}"
				border-color$="{{progressBarBorderColor}}"
			>
			</d2l-progress-bar>
			<div class="d2l-lesson-header-completion-count" aria-hidden="true">[[localize('completedMofN', 'completed', completionCompleted, 'total', completionTotal)]]</div>
			<div><d2l-offscreen>[[localize('requirementsCompleted', 'completed', completionCompleted, 'total', completionTotal)]]</d2l-offscreen></div>
		</div>

	</template>
	<script>
		/*
		@memberOf D2L.Polymer.Mixins;
		@mixes CompletionStatusMixin
		*/
		class D2LLessonHeader extends D2L.Polymer.Mixins.CompletionStatusMixin() {
			static get is() {
				return 'd2l-lesson-header';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					darkTheme: {
						type: Boolean,
						value: false,
						observer: '_setThemeClass'
					}
				};
			}

			_setThemeClass() {

				if ( this.$.D2LLessonHeaderContainer.classList.contains('dark') ) {
					this.$.D2LLessonHeaderContainer.classList.remove('dark');
				}
				if ( this.$.D2LLessonHeaderContainer.classList.contains('light') ) {
					this.$.D2LLessonHeaderContainer.classList.remove('light');
				}

				if ( this.darkTheme ) {
					this.$.D2LLessonHeaderContainer.classList.add('dark');
				}
				else {
					this.$.D2LLessonHeaderContainer.classList.add('light');
				}
			}

			onClick() {
				if ( this.$.D2LLessonHeaderContainer.classList.contains('selected') ) {
					this.$.D2LLessonHeaderContainer.classList.remove('selected');
				}
				else {
					this.$.D2LLessonHeaderContainer.classList.add('selected');
				}
			}
		}

		window.customElements.define(D2LLessonHeader.is, D2LLessonHeader);
	</script>
</dom-module>