<link rel="import" href="d2l-sequence-navigator-item.html">
<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-icons/d2l-icons.html">
<link rel="import" href="../../d2l-offscreen/d2l-offscreen.html">

<dom-module id="d2l-inner-module">
	<template>
		<style>
			:host {
				display: block;
			}

			:host > div {
				margin-top: 10px;
				margin-bottom: 10px;
				border-radius: 8px;
				background-color: var(--d2l-color-sylvite);
				box-shadow: 0px 0px 0px 10px white;
			}

			.header-container {
				padding: 12px 20px;
				position: relative;
				width: inherit;
				height: inherit;
			}

			.d2l-inner-module-header-container-overlay {
				position: absolute;
				padding: 12px 20px;
				margin-left: -20px;
				margin-top: -12px;
				width: calc(100% - 40px);
				height: calc(100% - 24px);
				background-color: white; 
				opacity: 0;
				z-index: 1;
				/* border-radius: 8px 0px 0px 8px; */
			}

			.module-header {
				display: table;
				table-layout: fixed;
				width: 100%;
			}

			.module-title {	
				@apply --d2l-body-small-text;
				color: var(--d2l-color-tungsten);

				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				float: left;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2; /* number of lines to show */
				max-height: 2.0rem; /* fallback */

				position: relative;
				z-index: 2;
			}

			ol {
				list-style-type: none;
				border-collapse: collapse;
				margin: 0px;
				padding: 0px;
			}

			/* Navigator item styling */

			d2l-sequence-navigator-item {
				@apply --d2l-body-compact-text;

				width: calc(100% - 20px);
				padding: 0px 10px;
			}

			d2l-sequence-navigator-item:not(:hover):not(.current) {
				--navigator-item-background-color: none;
				--navigator-item-text-color: var(--d2l-color-ferrite);
				--navigator-item-text-color-2: var(--d2l-color-tungsten);
			}

			d2l-sequence-navigator-item.current.dark,
			d2l-sequence-navigator-item:hover.dark {
				--navigator-item-background-color: var(--inner-module-primary-color);
				--navigator-item-text-color: white;
				--navigator-item-text-color-2: white;
			}

			d2l-sequence-navigator-item.current.light,
			d2l-sequence-navigator-item:hover.light {
				--navigator-item-background-color: var(--inner-module-primary-color);
				--navigator-item-text-color: var(--d2l-color-ferrite);
				--navigator-item-text-color-2: var(--d2l-color-tungsten);
			}

			/* Header container styling */

			.header-container:not(:hover):not(.current) {
				background-color: none;
			}

			.header-container.current,
			.header-container:hover {
				background-color: var(--inner-module-primary-color);
			}

			/* Overlay styling */
			
			.header-container:hover:not(.selected).dark .d2l-inner-module-header-container-overlay {
				opacity: 0.82;
			}

			.header-container:hover:not(.selected).light .d2l-inner-module-header-container-overlay {
				opacity: 0.6;
			}

			/* Module title styling */

			.header-container:not(:hover):not(.current) .module-title {
				color: var(--d2l-color-ferrite);
			}

			.header-container.current.dark .module-title {
				color: white;
			}

			.header-container.current.light .module-title,
			.header-container:hover.light .module-title,
			.header-container:hover.dark .module-title {
				color: var(--d2l-color-ferrite);
			}

		</style>

		<div
			class$="[[_getIsSelected(selectedModule)]]"
			on-click="toggleSelected"
		>
			<div class$="header-container [[darkOrLightClass]]">
				<div class="module-header">
					<div class="d2l-inner-module-header-container-overlay"></div>
					<span class="module-title">[[entity.properties.title]]</span>
				</div>
			</div>

			<ol>
				<template is="dom-repeat" items="[[subEntities]]" as="childLink">
					<li on-click="_onActivityClicked">
						<d2l-sequence-navigator-item
							class$="[[_getIsCurrent(childLink, currentActivity)]] [[darkOrLightClass]]"
							href="[[childLink.href]]"
							token="[[token]]"
							current-activity="{{currentActivity}}"
							selected-module="{{selectedModule}}"
							dark-theme="[[darkTheme]]"
						>
						</d2l-sequence-navigator-item>
					</li>
				</template>
			</ol>
		</div>
	</template>

	<script>
		/*
		@memberOf window.D2L.Polymer.Mixins;
		@mixes D2L.Polymer.Mixins.CompletionStatusMixin
		*/
		class D2LInnerModule extends D2L.Polymer.Mixins.CompletionStatusMixin() {
			static get is() {
				return 'd2l-inner-module';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					hasCurrentActivity: {
						type: Boolean,
						value: false
					},
					selectedModule: {
						type: String,
						value: '',
						notify: true
					},
					subEntities: {
						type: Array,
						computed: 'getSubEntities(entity)'
					},
					darkTheme: {
						type: Boolean,
						value: false
					},
					darkOrLightClass: {
						type: String,
						computed: '_getDarkOrLightClass(darkTheme)'
					}
				};
			}

			_getDarkOrLightClass(darkTheme) {
				return darkTheme ? 'dark' : 'light';
			}

			getSubEntities(entity) {
				return entity && entity.getSubEntities()
					.filter( subEntity => (subEntity.hasClass('sequenced-activity') && subEntity.hasClass('available')) || ( subEntity.href && subEntity.hasClass('sequence-description') ) )
					.map(this._getHref);
			}

			_getHref(entity) {
				return entity && entity.getLinkByRel && entity.getLinkByRel('self') || entity || '';
			}

			toggleSelected() {
				this.selectedModule = (this.selectedModule === '') ?
					this.entity.getLinkByRel('self').href :
					'';
			}

			_getIsSelected(selectedModule) {
				var selected = this.entity && this.entity.getLinkByRel('self').href === selectedModule;
				return (selected) ? 'selected' : 'not-selected';
			}

			_getIsCurrent(childLink, currentActivity) {
				if ( childLink.href === currentActivity ) {
					this.hasCurrentActivity = true;
					return 'current';
				}
				this.hasCurrentActivity = false;
			}

			_onActivityClicked(e) {
				var childLink =  e.model.__data.childLink;
				if ( childLink.class.includes('sequenced-activity') && this.currentActivity !== childLink.href ) {
					this.currentActivity = childLink.href;
				}
			}
		}
		customElements.define(D2LInnerModule.is, D2LInnerModule);

	</script>
</dom-module>