<link rel="import" href="d2l-sequence-navigator-item.html">
<link rel="import" href="d2l-module-header.html">
<link rel="import" href="../polymer-siren-mixins/siren-entity-mixin.html">
<link rel="import" href="../../d2l-accordion/d2l-accordion.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-icons/d2l-icons.html">
<link rel="import" href="../../d2l-typography/d2l-typography.html">
<link rel="import" href="../../d2l-localize-behavior/d2l-localize-behavior.html">
<dom-module id="d2l-module-link">
	<template>
		<style>
			:host {
				display: block;
				font-family: 'Lato', sans-serif;
			}

			.no-topics {
				@include vui-typography;
				padding: 20px 15px;
				background-color: white;
				display: block;
				color: var(--d2l-color-ferrite);
				@include d2l-body-small;
			}

			d2l-accordion-collapse.has-no-child-modules {
				border: 1px solid var(--d2l-color-mica);
				border-radius: 8px;
			}

			.module-item-list {
				list-style-type: none;
				border-collapse: collapse;
				padding-left: 0px;
				margin-top: 0px;
				margin-bottom: 0px;
			}

			.has-no-child-modules .module-item {
				width: 100%;
				margin-top: -1px;
				margin-bottom: -1px;
				margin-left: -1px;
				padding-top: 15px;
				padding-bottom: 15px;

				/* Compact Body Text - Lato Regular 16 */
				font-size: 16px;
				line-height: 24px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
			}

			.has-no-child-modules .module-item:not(.current):not(:hover) {
				border: 1px solid var(--d2l-color-mica);
				border-bottom: 1px solid var(--d2l-color-mica);
			}

			.has-no-child-modules .module-item.current,
			.has-no-child-modules .module-item:hover {
				background-color: #f2f8fc;
				border: 1px solid #99c5e5;
				border-bottom: 1px solid #99c5e5;
				position: relative;
				z-index: 0.5;
			}

			.has-no-child-modules :last-of-type {
				border-radius: 0px 1px 8px 8px;
			}

			.has-child-modules .module-item {
				background-color: white;
				width: 100% - 15px;
				margin-top: 30px;
			}

			.has-child-modules .end-of-lesson {
				text-align: center;
				color: var(--d2l-color-celestine);
				padding-top: 30px;

				/* Label Text - Lato Bold 14 */
				font-size: 14px;
				line-height: 20px;
				font-weight: 700; /* bold */
				letter-spacing: 0.2px;
			}

		</style>

		<template is="dom-if" if="[[hasChildModules]]">
			<d2l-accordion-collapse
				class$="[[_getIsSelected(selectedModule)]] has-child-modules"
				on-click="toggleSelected"
				id="moduleLink"
				no-icons
				flex
				opened="{{accordionOpen}}"
			>
			<d2l-module-header slot="header" id="moduleHeader"
				href="[[href]]"
				token="[[token]]"
				current-activity="{{currentActivity}}"
				selected-module="{{selectedModule}}"
				opened="[[accordionOpen]]">
			</d2l-module-header>

				<ol class="module-item-list">
					<template is="dom-repeat" items="[[subEntities]]" as="childLink">
						<li class="module-item">
							<d2l-sequence-navigator-item
								href="[[childLink.href]]"
								token="[[token]]"
								current-activity="{{currentActivity}}"
								selected-module="{{selectedModule}}"
							>
							</d2l-sequence-navigator-item>
						</li>
					</template>
				</ol>

				<div class="end-of-lesson">[[localize('endOfLesson')]]</div>

			</d2l-accordion-collapse>
		</template>

		<template is="dom-if" if="[[!hasChildModules]]">
			<d2l-accordion-collapse
				class$="[[_getIsSelected(selectedModule)]] has-no-child-modules"
				on-click="toggleSelected"
				id="moduleLink"
				no-icons
				flex
				opened="{{accordionOpen}}"
			>
				<d2l-module-header slot="header" id="moduleHeader"
					href="[[href]]"
					token="[[token]]"
					current-activity="{{currentActivity}}"
					selected-module="{{selectedModule}}"
					opened="[[accordionOpen]]">
				</d2l-module-header>

				<ol class="module-item-list">
					<template is="dom-repeat" items="[[subEntities]]" as="childLink">
						<li class$="module-item [[_getIsCurrent(childLink, currentActivity)]]" on-click="_onActivityClicked">
							<d2l-sequence-navigator-item
								href="[[childLink.href]]"
								token="[[token]]"
								current-activity="{{currentActivity}}"
								selected-module="{{selectedModule}}"
							>
							</d2l-sequence-navigator-item>
						</li>
					</template>
					<template is="dom-if" if="[[!hasChildren]]">
						<div class="no-topics">
							[[localize('moduleHasNoTopics')]]
						</div>
					</template>
				</ol>
			</d2l-accordion-collapse>
		</template>

	</template>
	<script>
		/*
		@memberOf window.D2L.Polymer.Mixins;
		@mixes D2L.Polymer.Mixins.SirenEntityMixin
		*/
		class D2LModuleLink extends Polymer.mixinBehaviors(D2L.PolymerBehaviors.LocalizeBehavior, D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element)) {
			static get is() {
				return 'd2l-module-link';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					selectedModule: {
						type: String,
						value: ''
					},
					subEntities: {
						type: Array,
						computed: 'getSubEntities(entity)'
					},
					hasChildModules: {
						type: Boolean,
						value: false,
						computed: '_containsChildModules(entity)'
					},
					hasChildren: {
						type: Boolean,
						computed: '_hasChildren(entity)'
					}
				};
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl('../locales.json'));
			}

			getSubEntities(entity) {
				return entity.getSubEntities()
					.filter( subEntity =>
						(subEntity.properties && Object.keys(subEntity.properties).length > 0) || subEntity.href )
					.map(this._getHref);
			}

			_getHref(entity) {
				return entity && entity.getLinkByRel && entity.getLinkByRel('self') || entity || '';
			}

			_containsChildModules(entity) {
				var children = entity.getSubEntities();
				var i;
				for (i = 0; i < children.length; i++) {
					if (this.isModule(children[i])) {
						return true;
					}
				}
				return false;
			}

			_hasChildren(entity) {
				return entity.getSubEntities().length !== 0;
			}

			isModule(childEntity) {
				return childEntity.class[1] === 'sequence-description';
			}

			toggleSelected() {
				this.selectedModule = (this.selectedModule === '') ?
					this._getLinkByRel(this.entity, 'self').href :
					'';
			}

			_getIsSelected(selectedModule) {
				var selected = this.entity && this._getLinkByRel(this.entity, 'self').href === selectedModule;
				return (selected) ? 'selected' : 'totally-not-selected';
			}

			_getIsCurrent(childLink, currentActivity) {
				if ( childLink.href === currentActivity ) {
					return 'current';
				}
			}

			_onActivityClicked(e) {
				var newActivityLink = e.model.__data.childLink.href;
				if ( this.currentActivity !== newActivityLink ) {
					this.currentActivity = newActivityLink;
				}
			}
		}
		customElements.define(D2LModuleLink.is, D2LModuleLink);

	</script>
</dom-module>
